@import url('https://fonts.googleapis.com/css?family=Fira+Sans:700&display=swap');



body { 
  background-image: url(../images/eden.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Fira Sans', sans-serif;

}
   

.jumbotron {
    opacity: .8;
    color: black;
}   

button {
   border: solid 3px green !important;
   color: green !important;
}

.card {
  opacity: .8;
  max-width: 950px;
  font-weight: 900;
}

#timer {
  margin-left: 300px;
 
}

.card-header {
  font-size: 20px;
  font-weight: 900;
}

.card-body {
  font-size: 20px;
}

#submit {
  margin-left: 45%;
  margin-right: 55%;
}

/* Media queries */
  /* ipad */
 @media only screen and (max-width: 769px) {
   body {
     background-image: url();
     background-color: lightseagreen;
  
   }

   h1, h3 {
     font-size: 22px;
   }

   .jumbotron {
      background-color: white;
   }

   .card {
     background-color: white;
     width: 90%;
   }

   .card-header {
     background-color: white;
   }

   img {
     height: 0;
     width: 0;
   }

   #submit, #start {
     background-color: white;
     color: black !important;
     border: thick lightseagreen solid !important;  
     
   }

 }

 /* iphone x */ 
 @media only screen and (max-width: 400px) {
    body {
      width:100%;
      background-color: darkslategrey;
     
    }
    h1, h3 {
      font-size: 18px !important;
    }

    #timer {
      font-size: 10px !important;
      text-align: center !important;
      margin: 10px 10px 10px 10px;

    }
    .card {
      width:95% !important;
    }
    .query {
      font-size: 10px !important;
    }

    #start, #submit, button {
      border: thick solid palegoldenrod !important;
      font-size: 24px !important;
      color: darkslategrey !important;
    }
 }